<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Campanha</title>
</head>
<body>
<h1>Adicionar Nova Campanha</h1>
<form action="#" th:action="@{/campaign/add}" th:object="${campaign}" method="post">
    <label for="nmCampaign">Nome da Campanha:</label>
    <input type="text" id="nmCampaign" th:field="*{nmCampaign}" />
    <br />
    <label for="details">Detalhes:</label>
    <textarea id="details" th:field="*{details}"></textarea>
    <br />
    <label for="status">Status:</label>
    <input type="text" id="status" th:field="*{status}" />
    <br />
    <label for="objective">Objetivo:</label>
    <input type="text" id="objective" th:field="*{objective}" />
    <br />
    <label for="budget">Orçamento:</label>
    <input type="number" step="0.01" id="budget" th:field="*{budget}" />
    <br />
    <label for="term">Prazo:</label>
    <input type="text" id="term" th:field="*{term}" />
    <br />
    <button type="submit">Adicionar</button>
</form>
<a href="/teste">Voltar</a>
</body>
</html>